<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"/>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Add new post</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Add title to post" class="form-control"><br>
        <input type="text" name="anons" placeholder="Add text to anons" class="form-control"><br>
        <textarea name="full_text" placeholder="Add full to post" class="form-control"> </textarea><br>
        <button type="submit" class="btn btn-success">Add post</button>

    </form>

</div>
<footer th:insert="fragments/footer :: footer"></footer>

</body>
</html>
